**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/css/vendor-icons.css
assets/js/distillpub/template.v2.js
assets/js/search/*.js
assets/plotly/demo.html
lighthouse_results/**
_posts/2015-10-20-math.md
_sass/font-awesome/*.scss
_sass/tabler-icons/*.scss
_scripts/search.liquid.js
_AI/2025-06-18-DDPM.md
_AI/2025-07-16-DDIM.md
_AI/2025-05-30-rope.md
_posts/2025-03-09-move-forward.md
_posts/2026-01-17-pyzmq-introduction.md
